PORT=3000
jwtSecret="*53kr374jw7~!!"
expireTime='5m'
ignoreExpiration="false"
ormConfig_type="mysql"
ormConfig_host="localhost"
ormConfig_port="3306"
ormConfig_username="docker"
ormConfig_password="rootpassword"
ormConfig_database="tareas"
ormConfig_logging="false"
ormConfig_synchronize="true"
ormConfig_entities=["dist/**/*.entity{.ts,.js}"]
ormConfig_schema="public"
NODE_ENV=development
FRONT_URL="[http://localhost:5173]"
REDIS_URL="redis://redis:6379"
